.contentWrapper {
    display: flex;
    background: url(../imgs/raspberries.jpg) center center no-repeat;
    height: 228px;
    max-width: 560px;
    border-radius: 15px;
    color: #fff;
    box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.5);
}
.content {
    margin: auto;
    box-sizing: border-box;
    padding: 0 26px;
}
.title {
    text-align: center;
    font-size: 1.8rem;
    margin: 0;
}
.text {
    font-size: 1.1rem;
    text-align: left;
    padding: 12px 0;
}
.buttonWrapper {
    display: flex;
    justify-content: flex-end;
}
.button {
    flex-basis: content;
}
@media screen and (max-width: 1024px) {
    .content {
        padding: 0 18px;
    }
}

@media screen and (max-width: 400px) {
    .title {
        font-size: 1.4rem;
    }
    .text {
        font-size: 1rem;
    }
}
