.root {
    background: url(../imgs/pasberries.jpg) center center no-repeat;
    display: flex;
    border-radius: 15px;
    box-sizing: border-box;
    height: 228px;
    max-width: 560px;
}
.content {
    margin: auto;
    box-sizing: border-box;
    padding: 0 26px;
}
.title {
    color: #323232;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 15px;
}
.text {
    font-size: 1.1rem;
    text-align: left;
}
.href {
    font-size: 1.2rem;
    color: #c50067;
}
.ul > li:not(:last-child) {
    margin-bottom: 10px;
}
@media screen and (max-width: 1024px) {
    .content {
        padding: 0 18px;
    }
}
@media screen and (max-width: 400px) {
    .title {
        font-size: 1.4rem;
    }
    .text {
        font-size: 1rem;
    }
}
