.footer {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 20px;
  justify-content: space-around;
  gap: 10px;
  /*height: 200px;*/
}
.under {
  background: rgba(0, 0, 0, 0);
  color: #686868;
  border-top: 1px solid rgba(104, 104, 104, 0.25);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
  text-align: center;
}
@media screen and (max-width: 400px) {
  .under > span,
  .text {
    display: none;
  }
}
