.main {
    padding-top: 45px;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
.contentWrapper {
    display: flex;
    box-sizing: border-box;
}
.content {
    display: block;
    box-sizing: border-box;
    border-radius: 15px;
    margin: auto;
}
@media all and (max-width: 767px) {
    .main {
        padding-top: 0;
    }
}
