.root {
    padding-top: 30px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}
@media screen and (max-width: 800px) {
    .root {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}
@media screen and (max-width: 500px) {
    .root {
        grid-gap: 30px;
    }
}
